/*====================================*\
	#LAYOUT DEFAULT
\*====================================*/

@import '~stylesheets/variables/colors';
@import '~stylesheets/variables/properties';
@import '~stylesheets/variables/utils';


.nav{
	padding: 0.5rem 2rem;
	background: $primaryColor;
    border-bottom: 1px solid $grayLight;
}

.content{
	margin: 1rem auto;
	max-width: $contentMaxWidth;
	background: $white;
	overflow: hidden;
	box-shadow: 0 1px 3px 0 rgba($black, .3);
	border-radius: $borderRadius;

	@media screen and (max-width: $contentMaxWidth) {
		margin: 1rem 2rem;
	}
}

.logo{
	display: block;
}


.search{
	position: relative;
	display: flex;
	width: 100%;

	> input{
		margin-left: 1rem;
		padding: 0 4rem 0 1rem;
		width: 100%;
		border: 1px solid $grayLight;
		border-radius: $borderRadius;

		#{$pEvents}{
			outline: none;
			box-shadow: 0 0 5px rgba($gray, 0.2);
		}
	}

	> button{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		padding: 0 1rem;
		background-image: linear-gradient($white, #f1f1f1);
		border: 1px solid $grayLight;
		color: $gray;
		border-radius: 0 $borderRadius $borderRadius 0;
		cursor: pointer;

		#{$pEvents}{
			outline: none;
		}

		#{$pActive}{
			background-image: linear-gradient(#f1f1f1, $white);
		}

		> .icon{
			&:before{
				content: '\EA16';
				font-family: navigation;
				font-style: normal;
			}
		}
	}
}