/*====================================*\
	#COLORS
\*====================================*/

$white: #ffffff;
$gray: #637077;
$grayLight: #d9d9d9;
$black: #000;

$blue: #3483fa;
$yellow: #fff059;
$orange: #dc7b1c;


$primaryColor: $yellow;
$secondaryColor: $blue;