/*====================================*\
	#BREADCRUMBS
\*====================================*/

@import '~stylesheets/variables/colors';
@import '~stylesheets/variables/properties';
@import '~stylesheets/variables/utils';


.container{
	display: block;
	margin: 1rem auto 0;
	max-width: $contentMaxWidth;

	@media screen and (max-width: $contentMaxWidth) {
		margin: 1rem 2rem 0;
	}

	a{
		color: $gray;

		#{$pEvents}{
			color: $secondaryColor;
		}
	}
}

.separator{
	display: inline-block;
	margin: 0 0.5rem;
	color: $secondaryColor;
	font-style: normal;
	font-weight: bold;
}